* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a,
span {
    color: white;
    text-decoration: none;
}
li {
    list-style-type: none;
}
body {
    background-color: #ccc;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 1200px;
    margin: 0 auto;
    height: auto;
    background-size: cover;
}
.header-nav {
}

/* table */
.header-nav-header {
    width: 1200px;
}
.header-nav-list-item {
    display: flex;
    height: 50px;
    background-image: linear-gradient(to bottom, #f8f7f5, #e9d7cb);
    align-items: center;
    margin-bottom: 2px;
}
.header-nav-item {
    height: 50px;
    border: 4px solid #b0938d;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
}
.header-banner {
    width: 1200px;
    margin: 0 auto;
    height: auto;
    background-size: cover;
}
.distance {
    width: 1200px;
    height: 40px;
    background-image: linear-gradient(to bottom, #b54a38, #be7354);
    margin: 0 auto;
}
.main {
    width: 1200px;
    height: 89vh;
    background-color: #f2ecdc;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.menu-items {
    width: 240px;
    height: 680px;
    background-color: #a94312;
}
.menu-header {
    padding: 9px 20px;
    width: inherit;
    height: 40px;
    color: white;
    background-image: linear-gradient(to bottom, #b36910, #c7984a);
}
.list-item {
}
.item {
    height: 25px;
    background-image: radial-gradient(#971517, #6e0c0d);
    margin-bottom: 2px;
    color: #fff;
    padding-left: 30px;
}

.slider {
    display: flex;
    flex-direction: column;
}

.banner {
    width: 960px;
    height: auto;
    background-size: cover;
}

.banner-img {
    display: block;
    width: inherit;
    height: auto;
    background-image: url(../img/1.png);
    background-size: cover;
}

.navigation-tag {
    padding-left: 10px;
    display: flex;
    align-items: center;

    width: 960px;
    height: 40px;
    background-color: #c0750f;
    color: white;
}

.container {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row1 {
    width: 960px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row2 {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.img-title p {
    color: #fff;
    padding-left: 1px;
}
.distance-2 {
    width: 1200px;
    height: 40px;
    background-image: linear-gradient(to bottom, #ccc, black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.distance-2 div {
    padding: 0 20px;
    position: relative;
}
.distance-2 div:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 25px;
    background-color: white;
    position: absolute;
    right: -3px;
}
/* .distance-2 div:last-child::after {
    content: "";
} */
.footer {
    width: 1200px;
    height: 100px;
    display: flex;
    background-color: #b5895a;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer > span {
    color: black;
}
